body {
    background-color: white;
    color: black;
}

#clock {
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%; 
    box-shadow: rgb(85, 84, 84) 15px 10px 15px 10px;
}

h1 {
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.dark-mode {
    background-color: rgb(51, 46, 46);
    color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.dark-mode h1 {
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

button {
    padding: 10px;
    width: 100px;
    border: 2px solid black;
    font-size: 15px;
    border-radius: 10px;
    gap: 10px;
    position: relative;
    left: 45%;
    top: 20px;
    cursor: pointer;
}